body {
    font-size: large;
}

header {
    display: block;
    height: 150px;
    img {
        width: 20%;
        max-width: 100px;
        position: absolute;
        left: 3%;
    }
    h2 {
        margin: 0;
        padding: 20px;
    }
    .content {
        display: flex;
        justify-content: space-around;
        opacity: 1;
        position: relative;
        pointer-events: all;
        background-color: $colorOne;
        top: 0px;
        * {
            width: 20%;
        }
    }
    #menu_button {
        display: none;
    }
}


// Reservation Page
main {
    form{
        fieldset{
            div{
                flex-direction: row;
            }
        }
    }
}

// service page
main {
    margin: auto;
    #reception {
        position: relative;
        padding: 0 50px;
        font-size: larger;
        margin: 20px 50px;
        img {
            width: 30%;
            position: absolute;
            right: 20px;
            top: 100px;
        }
    }

    #full_time_mis {
        padding: 20px 50px;
        font-size: larger;
        margin: 20px 50px;
    
    }
}

// contact page
main {

    h2 {
        margin: 60px 0 0 0;
        font-size: xx-large;
    }
    #contact_form {
        height: 300px;
    }
}