body {
  background-color: floralwhite;
  display: flex;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 500px 500px 500px 500px;
  align-self: center;
}

img {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  box-shadow: 2px 2px 4px #504f4f;
}

header {
  grid-column: 2;
  grid-row: 1;
  display: flex;
}

.heading {
  text-align: left;
  max-width: 200px;
}

h1 {
  font-family: Trebuchet MS, sans-serif;
  color: floralwhite;
  background-color: darkolivegreen;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #504f4f;
}

p {
  text-align: center;
}

#rot-content {
  grid-column: 1;
  grid-row: 1;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  padding-top: 20px;
}

#white-space-content {
  grid-column: 2;
  grid-row: 1;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  padding-top: 20px;
}

#alignment-content {
  grid-column: 3;
  grid-row: 1;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  padding-top: 20px;
}

@media screen and (max-width: 700px) {
  .heading {
    display: none;
  }
}
