@media (max-width: 1000px) {
    #top_bar {
        padding: 0 10%;
    }

    nav {
        padding: 0px 10%;

    }

    main{
        font-size: small;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        height: auto;
    }


    main>*:hover {
        height: 95%;
        margin: 10px;
        font-size: 101%;
    }
    main>* {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 40% 1fr;
        text-align: center;
        height: 95%;

    }


    main img {
        grid-row: 1;
        object-fit: cover;
    }

    #preston {
        grid-template-columns: 1fr 40%;
    }

    #preston img {
        grid-column: 2;
    }

    #contact_box {
        padding: 8px 12%;

    }
}

@media (max-width: 720px) {
    #top_bar {
        padding: 0 2%;
    }

    nav {
        padding: 0px 2%;

    }

    main{
        font-size: small;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        margin: 10px 15%;
        height: auto;
    }


    main>*:hover {
        height: 95%;
        margin: 10px;
        font-size: 101%;
    }
    main>* {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
        height: 95%;

    }

    main img {
        grid-row: 2;
        object-fit: cover;
    }

    #preston {
        grid-template-columns: 1fr;
    }

    #preston img {
        grid-column: 1/3;
    }




    #contact_box {
        padding: 8px 2%;

    }

}


@media (max-width: 580px) {


    body {
        position: relative;
    }
    header {
        display: flex;
        height: 80px;
        align-items: center;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
        /* border-left: 2px solid black;
        border-right: 2px solid black; */

    }



    #motto {
        padding-left: 5%;
    }

    nav {
        background-color: lightgreen;
        height: 100%;
        width: 15%;
        margin: 0;
        padding: 0;
        border: none;
    }

    .content {
        /* display: none; */
        position: absolute;
        flex-direction: column;
        background-color: lightgreen;
        opacity: 0;
        pointer-events: none;
        width: 150px;
        right: 0;
        z-index: 1;
        text-align: center;
        margin: 0;
        transition: all 1s ease;
    }



    .content a, .content a:active, .content a:visited {
        color: white;
        align-items: center;
        width: 100%;
        display: block;
    }

    nav .content li a:hover {
        color: white;
        text-decoration: none;
    }

    .content li:hover {
        background-color: green;
        font-size: large;
    }



    .content li {
        max-width: 100%;
        height: 25px;
        padding: 0;
        /* background: rgb(34,193,195);
        background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(163,237,22,1) 100%); */
    }

    #menu {
        display: inline;
        width: 100%;
        text-align: center;
        height: 100%;
        background-color: none;
        background-color: #2CEC18;
        border: none;
        cursor: pointer;
    }

    .mystyle {
        opacity: 0.9;
        pointer-events: all;
    }

    #top_bar {
        height: 80px;
        padding: 0;
        position: relative;
        width: 100%;
    }

    #top_bar div>* {
        margin: 0;
        font-size: small;
        text-align: center;
    }

    header #top_bar div h1 {
        padding-left: 2.5%;
        font-size: large;
    }


    main {
        font-size: x-small;
        margin: 10px 10%;
    }

    #contact_box {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #map {
        grid-row: 2;
        height: 100%;
        width: 100%;
    }

    #contact_info {
        width: 80%;
        position: relative;
        align-self: center;
        background-color: white;
        border-radius: 10px;
        padding: 5% 5%;
        margin: 5%;
        text-align: start;
    }

    #contact_info h5 {
        text-align: center;
    }

    #contact_info img {
        width: 5%;
        padding-left: 20px;
    }

    #social_media {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0%, -50%);
        text-align: end;
        width: 200%;
    }

}
