@media (max-width: 1000px) {
    #top_bar {
        padding: 0 10%;
    }


    nav {
        padding: 0px 10%;

    }
    #contact_box {
        padding: 8px 12%;

    }
}

@media (max-width: 720px) {
    #top_bar {
        padding: 0 2%;
    }

    nav {
        padding: 0px 2%;

    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        grid-gap: 5px;
        grid-row-gap: 20px;
    }
    .gallery img:hover {
        box-shadow: none;
    }
    figcaption {
        display: none;
    }
    #contact_box {
        padding: 8px 2%;

    }

}


@media (max-width: 580px) {


    body {
        position: relative;
    }
    header {
        display: flex;
        height: 80px;
        align-items: center;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    #motto {
        padding-left: 5%;
    }

    nav {
        background-color: darkolivegreen;
        height: 100%;
        width: 15%;
        margin: 0;
        padding: 0;
        border: none;
    }

    .content {
        position: absolute;
        flex-direction: column;
        background-color: darkolivegreen;
        opacity: 0;
        pointer-events: none;
        width: 150px;
        right: 0;
        z-index: 1;
        text-align: center;
        margin: 0;
        transition: all 1s ease;
    }



    .content a, .content a:active, .content a:visited {
        color: white;
        align-items: center;
        width: 100%;
        display: block;
    }

    nav .content li a:hover {
        color: white;
        text-decoration: none;
    }

    .content li:hover {
        background-color: darkslategray;
        font-size: medium;
    }



    .content li {
        max-width: 100%;
        height: 25px;
        padding: 0;
    }

    #menu {
        display: inline;
        width: 100%;
        text-align: center;
        height: 100%;
        background-color: none;
        background-color: darkolivegreen;
        border: none;
        cursor: pointer;
    }

    .mystyle {
        opacity: 0.9;
        pointer-events: all;
    }


    #top_bar {
        height: 80px;
        padding: 0;
        position: relative;
        width: 100%;
    }

    #top_bar div>* {
        margin: 0;
        font-size: small;
        text-align: center;
    }

    header #top_bar div h1 {
        padding-left: 2.5%;
        font-size: large;
    }


    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        grid-gap: 5px;
        grid-row-gap: 20px;
    }



    #banner_box {
        display: grid;
        grid-row: 1fr 1fr;

    }

    #summary {
        position: static;
        transform: none;
        grid-row: 2;
        width: 100%;
        padding: 10px;
        border: none;
    }

    #d_forecast {
        background-color: darkslategray;
        border:2px solid black;
        padding: 10px;
        text-align: center;
    }

    td {
        height: 60px;
        width: 60px;
        padding: 0px;
    }

    #second_row img {
        height: 60px;
        vertical-align: bottom;
    }

    article {
        text-align: center;
    }

    article img {

        float: none;
        margin: auto;
        width: 90%;
        margin-top: 30px;


    }

    article h3 {
        padding: 10px;
        padding-bottom: 0;
    }



    #contact_box {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #map {
        grid-row: 2;
        height: 100%;
        width: 100%;
    }

    #contact_info {
        width: 80%;
        position: relative;
        align-self: center;
        background-color: white;
        border-radius: 10px;
        padding: 5% 5%;
        margin: 5%;
        text-align: start;
    }

    #contact_info h5 {
        text-align: center;
    }

    #contact_info img {
        width: 5%;
        padding-left: 20px;
    }

    #social_media {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translate(0%, -50%);
        text-align: end;
        width: 200%;
    }

}